<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/static/css/nav.css">

</head>
<body>

	<nav class="navbar">
		<ul>
		  <li><a href="{% url 'profile_page' %}"> {{request.user}} </a></li>
		  <li><a href="{% url 'home' %}">Home</a></li>
		  <li><a href="{% url 'about' %}">About</a></li>
		  <li><a href="{% url 'contact_us' %}">Contact</a></li>
		</ul>
	  </nav>
	<div style = "background-color: rgb(0, 0, 77); " class = "header">
		<h1>About Our Hotel</h1>
	</div>


	<div class="content">
		<p>Welcome to our hotel management system! We are committed to providing you with the best possible service during your stay with us. Our hotel offers a wide range of facilities and amenities to ensure that your stay is comfortable and enjoyable.</p>
		<p>Our friendly and experienced staff is always on hand to assist you with any questions or concerns that you may have. Whether you are here for business or pleasure, we aim to make your stay a memorable one.</p>
		<p>Thank you for choosing our hotel for your stay. We hope to see you soon!</p>
	</div>
</body>
</html>