<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Management System | Management Panel </title>
  {% load static %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Candal&family=Montserrat:wght@400;500&display=swap"
    rel="stylesheet">
  <style>
    .buttonClass {
      background-color: rgb(0, 0, 77);
      color: white;
    }

    .bg-purple {
      background-color: rgba(0, 0, 77, 0.9);
      color: white;
    }

    .navbar-dark .navbar-nav .nav-link {
      color: rgba(255, 255, 255);
    }

    a{
      text-decoration: none;
      color : white;
    }

    .buttonClass{
      border-radius : 5px;
      padding : 20px;
    }

    body{
    background-image : url('/static/images/pexels-pixabay-262048.jpg');
    background-size : cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family : montserrat;
}

  </style>
</head>

<body>
  {% if messages %}
  <div id="messages">
    {% for msg in messages %}

    <div class="alert {% if msg.tags %}alert-{{ msg.tags }}{% endif %}">

      {{ msg }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <script>
    setTimeout(function () {
      var messages = document.getElementById("messages");
      if (messages) {
        messages.style.display = 'none';
      }
    }, 3000);
  </script>
  <div class="container">
    <div class="header">
      <h1>Management Panel </h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-purple">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item my-2">
              <a href="{% url 'index' %}">HOME</a>
            </li>
            <li class="nav-item my-2" >
              <a href="{% url 'contact_us' %}">CONTACT</a>
            </li>
            <li class="nav-item my-2">
              <a href="{% url 'imagegallery' %}">IMAGE GALLERY</a>
            </li>
            <li class="nav-item my-2">
              <a  href="{% url 'logout' %}">LOGOUT</a>
          </li>

          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col my-3"> <a class="buttonClass" type="button" href="{% url 'show_all_rooms' %}"> Show All Rooms
        </a></div>
      <div class="col my-3"> <a class="buttonClass" type="button" href="{% url 'create_room' %}"> Add Room </a> </div>
      <div class="col my-3"> <a class="buttonClass" type="button" href="{% url 'delete_room' %}"> Delete Room </a>
      </div>
      <div class="col my-3"> <a class="buttonClass" type="button" href="{% url 'update_room' %}"> Update Room </a>
      </div>
      <div class="col my-3"> <a class="buttonClass" type="button" href="{% url 'add_images' %}"> Add Images </a>
      </div>
      <div class="col my-3"> <a class="buttonClass" type="button" href="{% url 'delete_images' %}"> Delete Images </a>
      </div>
      <div class="col my-3"> <a class="buttonClass" type="button" href="{% url 'hotel_report' %}"> Generate Report
        </a> </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
</body>

</html>