<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            text-decoration : none;
            padding : 10px;
            background-color: rgba(0, 0, 77, 0.9);
            color : white;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h3>You are going to book a room having room number {{SpecificDetails.number}} with 
        capacity of {{SpecificDetail.capacity}} and it falls under category {{SpecificDetail.category}}

    </h3>

    <a href=""> Pay & Book </a>
</body>
</html>